.button button {
    padding: 5px 10px;
    width: 70px;
    margin: 0 5px;
    cursor: pointer;
}

.button {
    display: flex;
    justify-content: center;
}
.inputs{
    display: flex;
    justify-content: space-around;
}
.return{
    text-decoration: none;
    font-size: 30px;
    display: flex;
    justify-content: flex-start;
    margin-left:20px;
    color: red;
}

.searchBlock {
    display: flex;
    justify-content: space-around;
}

.input {
    min-width: 280px;
    margin: 10px 0;
    padding: 10px;
}

.inputBlock button {
    margin: 0 10px;
    height: 40px;
}

.addBlock {
    margin: 10px 0;
}