.button button{
    padding: 5px 10px;
    width: 70px;
    margin: 0 5px;
    cursor: pointer;
}
.button{
    display: flex;
    justify-content: center;
}
.inputs{
    display: flex;
    justify-content: space-evenly;
}
.return{
    text-decoration: none;
    font-size: 30px;
    display: flex;
    justify-content: flex-start;
    margin-left:20px;
    color: red;
}